<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Registration numbers</title>
  <link rel="stylesheet" href="registration_number.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<style>
  .margingAdd{
    margin: 10px;
  }
</style>

<body>

  <div class="container">


    <!-- Button trigger modal -->

    <div class="margingAdd" style="float:right;">
<button type="button" class="btn btn-primary" data-toggle="modal" id="modal-btn" data-target="#exampleModal">
  Add Town
</button>
    </div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form action="/location" method="post" class="">
            <div class="form-group row">
              <label for="location" class="col-sm-6">Location</label>
              <input type="text" name="location" class="form-control col-sm-6" placeholder="Please Enter A Location"
                aria-label="Recipient's username" aria-describedby="basic-addon2">
            </div>

            <div class="form-group row">
              <label for="townInput2" class="col-sm-6">Registration code</label>
              <input type="text" name="townInput2" class="form-control col-sm-6" placeholder="Enter A Reg code"
                aria-label="Recipient's username" aria-describedby="basic-addon2">
            </div>

            <button class="btn btn-primary" type="submit">Add</button>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        {{!-- <button type="button" class="btn btn-primary" id="modal-save">Save changes</button> --}}
      </div>
    </div>
  </div>
</div>


    <div class="registration-header">
      <h1>Registration Number App </h1>

      <h5>Enter a town along with the towns registration code</h5>

      <!-- Modal -->




      {{!--the text input for town and regcodes --}}
      <div class="row">
        <div class="col-md-12">
          <div class="error">
            <span class="error">{{messages.error}}</span>
          </div>
          <div class="successfully">
            <span class="successfully">{{messages.successfully}}</span>
          </div>
          <div class="message">
            <span class="message">{{messages.message}}</span>
          </div>
          <div class="successful">
            <span class="successful">{{messages.successful}}</span>
          </div>
        </div>
      </div>


      <div class="row">
        <div class="col-md-12">
          <select onchange='filterBy(this)' class="towns btn" name="towns">
            <option name="towns" value="">select town</option>
            <option name="towns" value="all">All</option>
            {{#each showTown}}
            <option name="towns" value="{{area}}">{{loca}}</option>
            {{/each}}
          </select>
        </div>
      </div>

      <div class="row">
        
          
      </div>
{{!-- 
      <div class="form-group row">
        <div class="col-md-12">
          <form action="/resetTable" method="get">
            <button class="btn btn-primary" type="submit">Reset</button>
          </form>
        </div>
      </div> --}}



      {{!-- The regNumber text input --}}
      <div class="form-group row">
        <div class="col-md-12">
          <form action="/reg_number" method="post">
            <input type="text" name="regInput" class="reg form-control mr-sm-6" placeholder="Please Enter A Registartion Number"
              aria-label="Recipient's username" aria-describedby="basic-addon2">
            <button class=" margingAdd btn btn-secondary" type="submit">Add</button>
          </form>
          <form action="/resetReg" method="get">
            <button class=" margingAdd btn btn-secondary " type="submit">Reset</button>
          </form>
        </div>
      </div>



      <h4>Registration number plates</h4>


      <div class="row">
        <div class="col-sm-12">
          {{!-- display is the result rendered from regCheckRoute, regcode is the column in the table with the rows
          --}}
          {{#each display}}
          <li class="displayText">{{regcode}}</li>
          {{/each}}

        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    function filterBy(elem) {
      var tag = elem.value
      location.href = '/filter/' + tag
    }


  </script>
</body>

</html>