<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Registration numbers</title>
  <link rel="stylesheet" href="/registration_number.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

  <div class="container">
    <div class="registration-header">
      <h1>Registration Number App </h1>
<br>
<br>
{{!--the text input for town and regcodes  --}}
<div class="error">
       <span class="error">{{messages.error}}</span>
      </div>
      <br>
 <div class="row">
    <div class="col-xs-6">
      <select onchange='filterBy(this)' class="towns btn" name="towns">
         <option name="towns" value="">select town</option>
        <option name="towns" value="all">All</option>
        {{#each showTown}}
        <option name="towns" value="{{area}}">{{loca}}</option>
       {{/each}}
      </select>
    </div>

    
    <form action="/location" method="post">
   <input type="text" name="location" class="form-control mr-sm-6" placeholder="Please Enter A Location" aria-label="Recipient's username"  aria-describedby="basic-addon2">
   <input type="text" name="townInput2" class="code form-control mr-sm-6" placeholder="Enter A Reg code" aria-label="Recipient's username"  aria-describedby="basic-addon2">
   <button class="btn btn-outline-secondary" type="submit">Add</button>
   </form>
   <form action="/resetTable" method="get">
   <button class="btn btn-sm btn-outline-secondary" type="submit">Reset</button>
    </form>

  </div>
  <br>
{{!-- The regNumber text input --}}
      <form action="/reg_number" method="post">   
      <div class="row">
        <div class="input-group col-xs-6 col-lg-offset-2">
          <input type="text" name="regInput" class="reg form-control mr-sm-6" placeholder="Please Enter A Registartion Number" aria-label="Recipient's username"  aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">Add</button>
      </form> 
             <form action="/resetReg" method="get">
            <button class="btn btn-sm btn-outline-secondary" type="submit">Reset</button>
            </form> 
          </div>
        </div>
      </div>
    </div>

   
  <br>
  <h4>Registration number plates</h4>
  <div class="message">
       <span class="message">{{messages.message}}</span>
      </div>
      <br>
    <div class="row">
      <div class="col-sm-12">
        <div class="col-xs-12">
          <div class="well well-sm">
            <div class="display">
              {{!-- display is the result rendered from regCheckRoute, regcode is the column in the table with the rows --}}
              {{#each display}}
              <span class="displayText">{{regcode}}</span>
              {{/each}}
            </div>


          </div>

        </div>
      </div>
    </div>
  </div>
</div>
  <script type="text/javascript">
    function filterBy(elem){
      var  tag = elem.value
      location.href = '/filter/' + tag
    }
  </script>
</body>
</html>